<a href="https://colab.research.google.com/github/OscarIraira23/MachineLearning/blob/main/Andrea_Lagunas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('names.csv')
print(df)

   first_name       last_name                           email
0        John             Doe         john-doe@bogusemail.com
1        Mary  Smith-Robinson       maryjacobs@bogusemail.com
2        Dave           Smith        davesmith@bogusemail.com
3        Jane          Stuart       janestuart@bogusemail.com
4         Tom          Wright        tomwright@bogusemail.com
5       Steve        Robinson    steverobinson@bogusemail.com
6      Nicole          Jacobs     nicolejacobs@bogusemail.com
7        Jane          Wright       janewright@bogusemail.com
8        Jane             Doe          janedoe@bogusemail.com
9        Kurt          Wright       kurtwright@bogusemail.com
10       Kurt        Robinson     kurtrobinson@bogusemail.com
11       Jane         Jenkins      janejenkins@bogusemail.com
12       Neil        Robinson     neilrobinson@bogusemail.com
13        Tom       Patterson     tompatterson@bogusemail.com
14        Sam         Jenkins       samjenkins@bogusemail.com
15      Steve          Stuart      stevestuart@bogusemail.com
16     Maggie       Patterson  maggiepatterson@bogusemail.com
17     Maggie          Stuart     maggiestuart@bogusemail.com
18       Jane             Doe          janedoe@bogusemail.com
19      Steve       Patterson   stevepatterson@bogusemail.com
20       Dave           Smith        davesmith@bogusemail.com
21        Sam           Wilks         samwilks@bogusemail.com
22       Kurt       Jefferson    kurtjefferson@bogusemail.com
23        Sam          Stuart        samstuart@bogusemail.com
24       Jane          Stuart       janestuart@bogusemail.com
25       Dave           Davis        davedavis@bogusemail.com
26        Sam       Patterson     sampatterson@bogusemail.com
27        Tom       Jefferson     tomjefferson@bogusemail.com
28       Jane          Stuart       janestuart@bogusemail.com
29     Maggie       Jefferson  maggiejefferson@bogusemail.com
30       Mary           Wilks        marywilks@bogusemail.com
31       Neil       Patterson    neilpatterson@bogusemail.com
32      Corey           Davis       coreydavis@bogusemail.com
33      Steve          Jacobs      stevejacobs@bogusemail.com
34       Jane         Jenkins      janejenkins@bogusemail.com
35       John          Jacobs       johnjacobs@bogusemail.com
36       Neil           Smith        neilsmith@bogusemail.com
37      Corey           Wilks       coreywilks@bogusemail.com
38      Corey           Smith       coreysmith@bogusemail.com
39       Mary       Patterson    marypatterson@bogusemail.com
40       Jane          Stuart       janestuart@bogusemail.com
41     Travis          Arnold     travisarnold@bogusemail.com
42       John        Robinson     johnrobinson@bogusemail.com
43     Travis          Arnold     travisarnold@bogusemail.com

In [3]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [4]:
df.shape

(44, 3)

In [5]:
x=np.random.randint(low=10, high=60, size=44)
df.insert(loc=3, column = 'Edades',value=x)
#df.drop(['Edad'], axis=3)

In [6]:
print(df)

   first_name       last_name                           email  Edades
0        John             Doe         john-doe@bogusemail.com      19
1        Mary  Smith-Robinson       maryjacobs@bogusemail.com      43
2        Dave           Smith        davesmith@bogusemail.com      47
3        Jane          Stuart       janestuart@bogusemail.com      24
4         Tom          Wright        tomwright@bogusemail.com      52
5       Steve        Robinson    steverobinson@bogusemail.com      16
6      Nicole          Jacobs     nicolejacobs@bogusemail.com      13
7        Jane          Wright       janewright@bogusemail.com      57
8        Jane             Doe          janedoe@bogusemail.com      48
9        Kurt          Wright       kurtwright@bogusemail.com      44
10       Kurt        Robinson     kurtrobinson@bogusemail.com      23
11       Jane         Jenkins      janejenkins@bogusemail.com      34
12       Neil        Robinson     neilrobinson@bogusemail.com      14
13        Tom       Patterson     tompatterson@bogusemail.com      28
14        Sam         Jenkins       samjenkins@bogusemail.com      58
15      Steve          Stuart      stevestuart@bogusemail.com      36
16     Maggie       Patterson  maggiepatterson@bogusemail.com      57
17     Maggie          Stuart     maggiestuart@bogusemail.com      34
18       Jane             Doe          janedoe@bogusemail.com      52
19      Steve       Patterson   stevepatterson@bogusemail.com      38
20       Dave           Smith        davesmith@bogusemail.com      33
21        Sam           Wilks         samwilks@bogusemail.com      25
22       Kurt       Jefferson    kurtjefferson@bogusemail.com      37
23        Sam          Stuart        samstuart@bogusemail.com      47
24       Jane          Stuart       janestuart@bogusemail.com      55
25       Dave           Davis        davedavis@bogusemail.com      19
26        Sam       Patterson     sampatterson@bogusemail.com      14
27        Tom       Jefferson     tomjefferson@bogusemail.com      50
28       Jane          Stuart       janestuart@bogusemail.com      26
29     Maggie       Jefferson  maggiejefferson@bogusemail.com      36
30       Mary           Wilks        marywilks@bogusemail.com      54
31       Neil       Patterson    neilpatterson@bogusemail.com      10
32      Corey           Davis       coreydavis@bogusemail.com      52
33      Steve          Jacobs      stevejacobs@bogusemail.com      51
34       Jane         Jenkins      janejenkins@bogusemail.com      42
35       John          Jacobs       johnjacobs@bogusemail.com      51
36       Neil           Smith        neilsmith@bogusemail.com      25
37      Corey           Wilks       coreywilks@bogusemail.com      26
38      Corey           Smith       coreysmith@bogusemail.com      25
39       Mary       Patterson    marypatterson@bogusemail.com      55
40       Jane          Stuart       janestuart@bogusemail.com      22
41     Travis          Arnold     travisarnold@bogusemail.com      23
42       John        Robinson     johnrobinson@bogusemail.com      19
43     Travis          Arnold     travisarnold@bogusemail.com      37

In [7]:
y=np.random.randint(low=100, high=200, size=44)
df.insert(loc=4, column = 'Alturas',value=y)

In [8]:
print(df)

   first_name       last_name                           email  Edades  Alturas
0        John             Doe         john-doe@bogusemail.com      19      109
1        Mary  Smith-Robinson       maryjacobs@bogusemail.com      43      115
2        Dave           Smith        davesmith@bogusemail.com      47      114
3        Jane          Stuart       janestuart@bogusemail.com      24      129
4         Tom          Wright        tomwright@bogusemail.com      52      197
5       Steve        Robinson    steverobinson@bogusemail.com      16      106
6      Nicole          Jacobs     nicolejacobs@bogusemail.com      13      102
7        Jane          Wright       janewright@bogusemail.com      57      138
8        Jane             Doe          janedoe@bogusemail.com      48      137
9        Kurt          Wright       kurtwright@bogusemail.com      44      117
10       Kurt        Robinson     kurtrobinson@bogusemail.com      23      174
11       Jane         Jenkins      janejenkins@bogusemail.com      34      145
12       Neil        Robinson     neilrobinson@bogusemail.com      14      136
13        Tom       Patterson     tompatterson@bogusemail.com      28      156
14        Sam         Jenkins       samjenkins@bogusemail.com      58      193
15      Steve          Stuart      stevestuart@bogusemail.com      36      135
16     Maggie       Patterson  maggiepatterson@bogusemail.com      57      149
17     Maggie          Stuart     maggiestuart@bogusemail.com      34      115
18       Jane             Doe          janedoe@bogusemail.com      52      128
19      Steve       Patterson   stevepatterson@bogusemail.com      38      168
20       Dave           Smith        davesmith@bogusemail.com      33      191
21        Sam           Wilks         samwilks@bogusemail.com      25      141
22       Kurt       Jefferson    kurtjefferson@bogusemail.com      37      122
23        Sam          Stuart        samstuart@bogusemail.com      47      127
24       Jane          Stuart       janestuart@bogusemail.com      55      161
25       Dave           Davis        davedavis@bogusemail.com      19      192
26        Sam       Patterson     sampatterson@bogusemail.com      14      126
27        Tom       Jefferson     tomjefferson@bogusemail.com      50      101
28       Jane          Stuart       janestuart@bogusemail.com      26      104
29     Maggie       Jefferson  maggiejefferson@bogusemail.com      36      102
30       Mary           Wilks        marywilks@bogusemail.com      54      105
31       Neil       Patterson    neilpatterson@bogusemail.com      10      110
32      Corey           Davis       coreydavis@bogusemail.com      52      115
33      Steve          Jacobs      stevejacobs@bogusemail.com      51      156
34       Jane         Jenkins      janejenkins@bogusemail.com      42      154
35       John          Jacobs       johnjacobs@bogusemail.com      51      148
36       Neil           Smith        neilsmith@bogusemail.com      25      136
37      Corey           Wilks       coreywilks@bogusemail.com      26      129
38      Corey           Smith       coreysmith@bogusemail.com      25      166
39       Mary       Patterson    marypatterson@bogusemail.com      55      127
40       Jane          Stuart       janestuart@bogusemail.com      22      161
41     Travis          Arnold     travisarnold@bogusemail.com      23      144
42       John        Robinson     johnrobinson@bogusemail.com      19      111
43     Travis          Arnold     travisarnold@bogusemail.com      37      127

In [9]:
df.sort_values(by='last_name')

   first_name       last_name                           email  Edades  Alturas
43     Travis          Arnold     travisarnold@bogusemail.com      37      127
41     Travis          Arnold     travisarnold@bogusemail.com      23      144
32      Corey           Davis       coreydavis@bogusemail.com      52      115
25       Dave           Davis        davedavis@bogusemail.com      19      192
18       Jane             Doe          janedoe@bogusemail.com      52      128
8        Jane             Doe          janedoe@bogusemail.com      48      137
0        John             Doe         john-doe@bogusemail.com      19      109
35       John          Jacobs       johnjacobs@bogusemail.com      51      148
6      Nicole          Jacobs     nicolejacobs@bogusemail.com      13      102
33      Steve          Jacobs      stevejacobs@bogusemail.com      51      156
22       Kurt       Jefferson    kurtjefferson@bogusemail.com      37      122
27        Tom       Jefferson     tomjefferson@bogusemail.com      50      101
29     Maggie       Jefferson  maggiejefferson@bogusemail.com      36      102
11       Jane         Jenkins      janejenkins@bogusemail.com      34      145
14        Sam         Jenkins       samjenkins@bogusemail.com      58      193
34       Jane         Jenkins      janejenkins@bogusemail.com      42      154
39       Mary       Patterson    marypatterson@bogusemail.com      55      127
31       Neil       Patterson    neilpatterson@bogusemail.com      10      110
19      Steve       Patterson   stevepatterson@bogusemail.com      38      168
16     Maggie       Patterson  maggiepatterson@bogusemail.com      57      149
13        Tom       Patterson     tompatterson@bogusemail.com      28      156
26        Sam       Patterson     sampatterson@bogusemail.com      14      126
42       John        Robinson     johnrobinson@bogusemail.com      19      111
12       Neil        Robinson     neilrobinson@bogusemail.com      14      136
10       Kurt        Robinson     kurtrobinson@bogusemail.com      23      174
5       Steve        Robinson    steverobinson@bogusemail.com      16      106
2        Dave           Smith        davesmith@bogusemail.com      47      114
38      Corey           Smith       coreysmith@bogusemail.com      25      166
36       Neil           Smith        neilsmith@bogusemail.com      25      136
20       Dave           Smith        davesmith@bogusemail.com      33      191
1        Mary  Smith-Robinson       maryjacobs@bogusemail.com      43      115
28       Jane          Stuart       janestuart@bogusemail.com      26      104
23        Sam          Stuart        samstuart@bogusemail.com      47      127
40       Jane          Stuart       janestuart@bogusemail.com      22      161
17     Maggie          Stuart     maggiestuart@bogusemail.com      34      115
15      Steve          Stuart      stevestuart@bogusemail.com      36      135
24       Jane          Stuart       janestuart@bogusemail.com      55      161
3        Jane          Stuart       janestuart@bogusemail.com      24      129
21        Sam           Wilks         samwilks@bogusemail.com      25      141
30       Mary           Wilks        marywilks@bogusemail.com      54      105
37      Corey           Wilks       coreywilks@bogusemail.com      26      129
4         Tom          Wright        tomwright@bogusemail.com      52      197
9        Kurt          Wright       kurtwright@bogusemail.com      44      117
7        Jane          Wright       janewright@bogusemail.com      57      138

In [10]:
#d=df['last_name'].str.startswith('D', na=False)
df_d=df[df['last_name'].str.startswith('D')]
print(df_d)

   first_name last_name                      email  Edades  Alturas
0        John       Doe    john-doe@bogusemail.com      19      109
8        Jane       Doe     janedoe@bogusemail.com      48      137
18       Jane       Doe     janedoe@bogusemail.com      52      128
25       Dave     Davis   davedavis@bogusemail.com      19      192
32      Corey     Davis  coreydavis@bogusemail.com      52      115

In [11]:
print(f'Existen {len(df_d.index)} personas que el inicial de su apellido es con D')

Existen 5 personas que el inicial de su apellido es con D

In [12]:
df_m=df[df['last_name'].str.startswith('M')]
print(df_m)

Empty DataFrame
Columns: [first_name, last_name, email, Edades, Alturas]
Index: []

In [13]:
print(f'{len(df_m.index)}')

0

In [17]:
df.shape

(44, 5)

In [15]:
df_d.describe()

          Edades     Alturas
count   5.000000    5.000000
mean   38.000000  136.200000
std    17.421251   33.056013
min    19.000000  109.000000
25%    19.000000  115.000000
50%    48.000000  128.000000
75%    52.000000  137.000000
max    52.000000  192.000000